.posts {
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
}

.postsTitle{
    font-size: 20px;
    margin: 0 0 15px 0;
}

.postsInput {
    margin: 0 0 15px 0;
    min-height: 20px;
    padding: 0 0 0 7px;
}

.postsBtn {
    display: flex;
    justify-content: flex-end;
}