.header {
    grid-area: header;
    background-color: #585CC6;
    border-radius: 5px;
    margin: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

.leftZone {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
}

.search {
    margin: 0 0 0 20px;
}

.searchBtn {
    margin: 0 0 0 5px;
}

.accField {
    display: flex;
}

.logOutBtn {
    margin: 0 0 0 10px;
}