.nav {
    grid-area: navbar;
    border-radius: 5px;
    background-color: #d7d0ff;
    margin: 1px;
    height: 500px;
}
.items {
    margin: 0 0 50px 0;
}

.item {
    font-size: 20px;
    padding: 15px 0 0 20px;
    cursor: pointer;
}

.item:hover {
    /*background-color: #fcf7f7;*/
}
.item a {
    text-decoration: none;
    color: #102fad;
}

.item a:visited {
    color: #102fad;
}

.item a:hover {
    color: #585CC6;
}

.item a.active {
    color: #726f8d;
}


.sitebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 20px;
    color: #102fad;
    margin: 0 0 10px 0;
}

.persons {
    display: flex;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person:not(:last-child) {
    margin: 0 5px 0 0;
}

.person img {
    width: 50px;
    border-radius: 50%;
}

.name {

}